* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 1160px;
}

.listEpmty {
    text-align: center;
}

.post-enter {
    transform: translateX(-350px);
}
.post-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}

.page__wrapper {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.page__wrapper .page {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    border: 1px solid tomato;
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.page__wrapper .page:hover {
    background-color: tomato;
    transform: scale(1.1);
}

.page__current {
    background-color: tomato;
    font-weight: bold;
    color: white;
}